{% extends 'store.html' %}
{% block title %}
Sign Up & Login
{% endblock title %}

{% block main %}
{% load static %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'store:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'account:login' %}">Login & Register</a></li>
            <li class="breadcrumb-item active">Forgot password</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<center class="login">
    <div class="mx-sm-5 px-5">
        <div class="login-form">
            {% if change_for %}
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="type" value="password">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter New Password</label>
                            <input class="form-control" name="password" type="password" placeholder="Password" required>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn">Proceed</button>
                        </div>
                    </div>
                </form>  
            {% else %}     
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="user">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter Your Username</label>
                            <input class="form-control" name="username" type="text" placeholder="Username" required>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn">Proceed</button>
                        </div>
                    </div>
                </form>     
            {% endif %}
        </div>
    </div>
</center>
<!-- Login End -->
{% endblock main %}