{% extends 'dashboard.html' %}
{% block title %}
    Dashboard - My Products
{% endblock title %}
{% block nav_myProducts %}active-menu{% endblock nav_myProducts %}

{% block main %}
<h2>My Products</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        Edit Product | {{ product.name }}
    </div>
    <div class="panel-body">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="type" value="product">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text" class="form-control" name="name" aria-describedby="name">
              <small id="name" class="form-text text-muted">Enter product name</small>
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <input type="text" class="form-control" name="description" aria-describedby="description">
              <small id="description" class="form-text text-muted">Enter product description</small>
            </div>
            <div class="form-group">
              <label for="">Usual Price</label>
              <input type="number" step="0.01" class="form-control" name="usual_price" aria-describedby="usual_price">
              <small id="usual_price" class="form-text text-muted">Enter product usual price</small>
            </div>
            <div class="form-group">
              <label for="">Listing Price</label>
              <input type="number" step="0.01" class="form-control" name="listing_price" aria-describedby="listing_price">
              <small id="listing_price" class="form-text text-muted">Enter product lisitng price</small>
            </div>
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
</div>

{% endblock main %}