<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - {% block title %}{% endblock title %}</title>

    {% load static %}
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static 'dashboard/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'dashboard/css/font-awesome.css' %}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="{% static 'dashboard/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard:index' %}">Dashboard</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> {{ user.username }} <a href="{% url 'account:logout' %}" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="{% static 'dashboard/img/find_user.png' %}" class="user-image img-responsive"/>
					</li>

                    <li>
                        <a class="{% block nav_dashboard %}{% endblock nav_dashboard %}"  href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
					  <!--
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i> Exsae Store<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>
                               
                            </li>
                        </ul>
                      </li>  -->
                    {% if user.profile.is_seller %}
                    <li  >
                        <a  class="{% block nav_myProducts %}{% endblock nav_myProducts %}" href="{% url 'dashboard:my-products' %}"><i class="fa fa-briefcase fa-3x" ></i> My Products</a>
                    </li>
                    <li  >
                        <a  class="{% block nav_mySells %}{% endblock nav_mySells %}" href="{% url 'store:home' %}"><i class="fa fa-money fa-3x" ></i> My Sells</a>
                    </li>
                    {% endif %}
                    <li  >
                        <a  class="{% block nav_orders %}{% endblock nav_orders %}" href="{% url 'store:home' %}"><i class="fa fa-bell-o fa-3x" ></i> Orders</a>
                    </li>
                    <li  >
                        <a  class="{% block nav_store %}{% endblock nav_store %}" href="{% url 'store:home' %}"><i class="fa fa-shopping-cart fa-3x"></i> Store</a>
                    </li>	
                </ul>
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">

            {% if messages %}
            <!--alerts-->
                <div class="a-alert p-2">
                    {% for message in messages %}
                    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show shadow border border-white" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block main %}{% endblock main %}
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'dashboard/js/jquery-1.10.2.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'dashboard/js/jquery.metisMenu.js' %}"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="{% static 'dashboard/js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'dashboard/js/morris/morris.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'dashboard/js/custom.js' %}"></script>
    
   
</body>
</html>
